<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Code for font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Code for font awesome cdn -->

    <!-- Code for font awesome css -->
    <link rel="stylesheet" type="text/css" href="css/turf3.css">
    <!-- Code for font awesome css -->

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>
    <!-- banner section -->
    <section class="home" id="home">
        <div class="content">
            <source src="image/Grs.jpg" type="image/jpg" />
        </div>

    </section>
    <!-- banner section -->

    <section class="popular-turf" id="popular-turf">
        <div class="box">
            <h1>The Pitch Turf- Yeoor Hills</h1>
            <h2>Location :</h2>
            <h2><i class="fa-solid fa-location-dot"></i> Ronchapada, Thane West, Yeoor Hills, Thane 400610</h2>
            <div class="price"> Price : ₹700 onwards </div>
            <div class="stars">
                <h2> Rating:
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </h2>
            </div>
        </div>

        <div class="box">
            <h1>Available Sports</h1>
            <h2><i class="fa-solid fa-baseball-bat-ball"></i></i> Box Cricket </h2>
            <h2><i class="fa-sharp fa-regular fa-futbol"></i> Football </h2>
        </div>


        <div class="box">
            <h1>Ammenties </h1>
            <h2><i class="fa-solid fa-person-booth"></i> Changing Room</h2>
            <h2><i class="fa-solid fa-glass-water"></i> Drinking Water</h2>
            <h2><i class="fa-solid fa-lightbulb"></i> Flood Lights</h2>
            <h2><i class="fa-solid fa-restroom"></i> Washroom</h2>
        </div>
    </section>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/6347ccf1b4.js" crossorigin="anonymous"></script>
</body>

</html>